::-webkit-scrollbar {
    display: none;
}

a, a:visited {
    color: black;
  }

#beta {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999 !important;
    font-weight: bolder;
    font-size: 5vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}

.body {
    display: none;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    z-index: -1;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
}

.outer {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box {
    -webkit-box-shadow:inset 0px 0px 0px .5px gray;
    -moz-box-shadow:inset 0px 0px 0px .5px gray;
    box-shadow:inset 0px 0px 0px .5px gray;
    display: inline-grid;
    background-color: transparent;
    color: rgba(255, 255, 255, 0);
    transition: background-color .25s linear;
}

.box:hover {
    background-color: rgba(200, 200, 200, .25);
    transition-duration: 0s;
}

.potential {
    background-color: rgba(255, 255, 100, .5);
    -webkit-box-shadow:inset 0px 0px 0px .5px black;
    -moz-box-shadow:inset 0px 0px 0px .5px black;
    box-shadow:inset 0px 0px 0px .5px black;
}

.selected {
    background-color: rgba(100, 255, 100, .5);
    -webkit-box-shadow:inset 0px 0px 0px .5px black;
    -moz-box-shadow:inset 0px 0px 0px .5px black;
    box-shadow:inset 0px 0px 0px .5px black;
}

.gray {
    background-color: rgba(150, 150, 150, .75);
    -webkit-box-shadow:inset 0px 0px 0px .5px black;
    -moz-box-shadow:inset 0px 0px 0px .5px black;
    box-shadow:inset 0px 0px 0px .5px black;
}

.potential:hover {
    background-color: rgba(255, 255, 100, .33);
}

.selected:hover {
    background-color: rgba(100, 255, 100, .33);
}

.gray:hover {
    background-color: rgba(150, 150, 150, .5);
}

.recent {
    background-color: rgba(255, 255, 0, .7);
    animation: glowing 750ms infinite;
}

@keyframes glowing {
    0%, 100% { box-shadow: 0 0 10px black; }
    50% { box-shadow: 0 0 30px black; }
}

.menu {
    position: fixed;
    z-index: 99 !important;
    width: 14vw;
    height: 3.5vw;
}

.pick {
    background-color: rgb(115, 230, 115);
    width: 100%;
    height: 100%;
    font-size: 2vw;
    color: white;
    display: block;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.pick:hover {
    background-color: rgb(80, 195, 80);
}

.pick:active {
    background-color: rgb(150, 180, 150);
}

.roll2 {
    background-color: rgb(100, 125, 225);
    width: 100%;
    height: 100%;
    font-size: 2vw;
    color: white;
    display: block;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.roll2:hover {
    background-color: rgb(75, 100, 200);
}

.roll2:active {
    background-color: rgb(150, 150, 180);
}

.center {
    position: absolute;
    background-color: rgb(0, 165, 165);
    width: 100%;
    height: 175%;
    font-size: 2vw;
    color: white;
    display: block;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    cursor: pointer;
}

.center:hover {
    background-color: rgb(0, 190, 190);
}

.center:active {
    background-color: rgb(130, 150, 150);
}

.menu2 {
    position: fixed;
    z-index: 99 !important;
    right: 10px;
    width: 12.5vw;
    height: 3.5vw;
}

button.menu2 {
    cursor: pointer;
}

.text:not(.home) {
    background-color: rgb(200, 200, 200);
    height: 100%;
    font-size: 1.5vw;
    color: black;
    display: block;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu3 {
    position: fixed;
    z-index: 99 !important;
    bottom: 50px;
    right: 10px;
    width: 15vw;
    height: 2vw;
}

#chunkInfo2 {
    border-width: 0px 1px 1px 1px;
}

.menu5 {
    position: fixed;
    z-index: 99 !important;
    bottom: 20px;
    width: 100%;
}

.menu6 {
    position: fixed;
    z-index: 99 !important;
    top: 20px;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.gitgeddes {
    word-break: break-all;
}

.description {
    font-size: 1.25vw;
    width: 90%;
    margin: auto;
}

.url {
    margin-top: 25px;
    font-size: 2vw;
    border: solid;
    border-width: 1px;
}

#import2 {
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 4vw;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    line-height: .75vw;
}

.exit {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#import2:hover {
    background-color: rgb(75, 75, 225);
}

#import2:disabled {
    border: 2px solid rgb(150, 150, 150);
    background-color: rgb(225, 225, 225);
    color: black;
    cursor: not-allowed;
}

.import {
    background-color: rgb(200, 125, 200);
    width: 17vw;
    height: 100%;
    font-size: 2vw;
    color: white;
    display: block;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: auto;
}

.import:hover {
    background-color: rgb(175, 100, 175);
}

.import:active {
    background-color: rgb(150, 125, 150);
}

.icon {
    width: 50px;
    margin: 0px auto;
}

.lock-closed {
    cursor: pointer;
}

.lock-box {
    display: none;
    float: left;
    text-align: center;
    width: 100%;
}

.inner-lock {
    width: 8%;
    margin: auto;
}

.lock-pin {
    width: 85%;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.animated {
    animation-duration: .5s;
    animation-fill-mode: both;
}

.wrong {
    border: 2px solid red;
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
    animation-name: shake;
}

#lock-unlock {
    outline: none;
    width: 100%;
    font-size: 2vw;
    cursor: pointer;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    transition-duration: .5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
}

#lock-unlock:hover {
    background-color: rgb(75, 75, 225);
}

#lock-unlock:disabled {
    border: 2px solid rgb(150, 150, 150);
    background-color: rgb(225, 225, 225);
    color: black;
    cursor: not-allowed;
}

.toggle {
    width: 100%;
    height: 100%;
    font-size: 2vw;
    color: white;
    display: block;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.toggle.on {
    background-color: rgb(75, 200, 75);
}

.toggle.off {
    background-color: rgb(200, 75, 75);
}

.toggle.on:hover {
    background-color: rgb(50, 175, 50);
}

.toggle.off:hover {
    background-color: rgb(175, 50, 50);
}

.toggle.on:active {
    background-color: rgb(120, 180, 120);
}

.toggle.off:active {
    background-color: rgb(180, 120, 120);
}

#toggleNeighbors, #toggleRemove {
    margin-bottom: 25px;
}

.label {
    pointer-events: none;
    color: white;
    margin: auto;
    transform: translateY(-20%);
    width: 100%;
    text-align: center;
}

.ui-loader-header {
    display: none;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 1);
}

.loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 50px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.content, .content2a, .content2b, .content3a {
    border: solid;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 4%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 150);
    background-color: white;
}

.title {
    font-size: 3vw;
    border-bottom: solid;
    background-color: rgb(230, 230, 230);
    padding-top: 10px;
    padding-bottom: 10px;
}

.block {
    margin-bottom: 22px;
    width: 100%;
}

.or {
    display: inline-block;
    font-size: 2.5vw;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
    margin-left: 20px;
}

.right {
    float: right;
    margin-right: 20px;
}

.hr {
    display: inline-block;
    width: 8vw;
    border-color: lightgray;
    margin-top: 1.5vw;
}

.button {
    outline: none;
    width: 75%;
    font-size: 2.25vw;
    cursor: pointer;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    transition-duration: .5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#unlock-entry {
    height: 4vw;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    line-height: .75vw;
}

#create, #unlock-entry {
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
}

#create:hover, #unlock-entry:hover {
    background-color: rgb(75, 75, 225);
}

#mid, #proceed {
    border: 2px solid rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
}

#mid:hover, #proceed:hover {
    background-color: rgb(240, 240, 240);
}

#create2 {
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
}

#create2:hover {
    background-color: rgb(75, 75, 225);
}

#create2:disabled, #unlock-entry:disabled {
    border: 2px solid rgb(150, 150, 150);
    background-color: rgb(225, 225, 225);
    color: black;
    cursor: not-allowed;
}

#access {
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
    margin-bottom: 20px;
}

#access:hover {
    background-color: rgb(75, 75, 225);
}

#access:disabled {
    border: 2px solid rgb(150, 150, 150);
    background-color: rgb(225, 225, 225);
    color: black;
    cursor: not-allowed;
}

#newmid {
    border: solid;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    font-size: 3vw;
    width: 33%;
    margin: auto;
    margin-bottom: 25px;
}

.entry-content {
    position: fixed;
    z-index: 9999 !important;
    border: solid;
    width: 30%;
    margin: auto;
    text-align: center;
    -ms-transform: translate(112.5%, 35%);
    transform: translate(112.5%, 35%);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 150);
    background-color: white;
}

.import-content {
    position: absolute;
    z-index: 9999 !important;
    border: solid;
    width: 30%;
    margin: auto;
    text-align: center;
    -ms-transform: translate(112.5%, 35%);
    transform: translate(112.5%, 35%);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 150);
    background-color: white;
}

.home.text {
    font-size: 2vw;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.p, .a {
    font-size: 1.25vw
}

.home.text2 {
    font-size: 2vw;
    font-weight: bold;
}

.desc {
    width: 90%;
    margin: auto;
}

.warning {
    font-size: 1.5vw;
}

.pin.new {
    width: 40%;
    font-size: 2.5vw;
    text-align: center;
    margin-bottom: 30px;
}

.back {
    transition-duration: .5s;
    cursor: pointer;
}

.back:hover {
    background-color: rgb(75, 75, 225);
    color: white;
    border-color: black;
}

.pin.entry {
    width: 40%;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.mid, .pin.old {
    width: 40%;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 5px;
}

.mid-err, .pin-err, .url-err {
    color: red;
    visibility: hidden;
    margin-bottom: 10px;
}

.link-outer {
    width: 90%;
    margin: auto;
    border: solid;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    padding: 5px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spin {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}