::-webkit-scrollbar {
    display: none;
}

@-moz-document url-prefix() {
    html,body{overflow: hidden !important;}
}

a, a:visited {
    color: black;
  }

#beta {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 999 !important;
    font-weight: bolder;
    font-size: 5vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}

.body {
    display: none;
    touch-action: manipulation;
}

.background-img {
    position: fixed;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    z-index: -1;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
}

.outer {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box {
    box-shadow: inset 0vw 0vw 0vw .075vw gray;
    display: inline-grid;
    background-color: transparent;
    color: rgba(255, 255, 255, 0);
    transition: background-color .25s linear;
}

.box.visible {
    box-shadow: inset .025vw .025vw .025vw .025vw black;
}

.box:not(.visible):hover {
    background-color: rgba(200, 200, 200, .25);
    transition-duration: 0s;
}

.potential {
    background-color: rgba(255, 255, 100, .5);
    box-shadow: inset 0vw 0vw 0vw .075vw black;
}

.potential.visible {
    background-color: rgba(255, 255, 100, .25);
    box-shadow: inset .025vw .025vw .025vw .025vw black;
}

.selected {
    background-color: rgba(100, 255, 100, .5);
    box-shadow: inset 0vw 0vw 0vw .075vw black;
}

.selected.visible {
    background-color: rgba(100, 255, 100, .25);
    box-shadow: inset .025vw .025vw .025vw .025vw black;
}

.gray {
    background-color: rgba(150, 150, 150, .6);
    box-shadow: inset 0vw 0vw 0vw .075vw black;
}

.gray.visible {
    background-color: rgba(150, 150, 150, .4);
    box-shadow: inset .025vw .025vw .025vw .025vw black;
}

.potential:not(.visible):hover {
    background-color: rgba(255, 255, 100, .33);
}

.selected:not(.visible):hover {
    background-color: rgba(100, 255, 100, .33);
}

.gray:not(.visible):hover {
    background-color: rgba(150, 150, 150, .4);
}

.recent.unlocked:not(.mobile), .recent.potential:not(.mobile) {
    background-color: rgba(255, 255, 0, .7);
    animation: glowing 750ms infinite;
}

.recent.selected:not(.mobile) {
    background-color: rgba(255, 0, 0, .7);
    animation: glowing 750ms infinite;
}

.box.locked {
    background-color: rgba(0, 255, 255, .33);
    box-shadow: inset 0vw 0vw 0vw .15vw rgb(0, 170, 170);
}

.box.locked.visible {
    background-color: rgba(0, 255, 255, .25);
    box-shadow: inset 0vw 0vw 0vw .05vw rgb(0, 170, 170);
}

.box.locked:hover {
    background-color: rgba(0, 255, 255, .25);
}

@keyframes glowing {
    0%, 100% { box-shadow: 0 0 10px black; }
    50% { box-shadow: 0 0 30px black; }
}

.menu {
    position: fixed;
    top: 60px;
    z-index: 99 !important;
    width: min(14vw, 150px);
    height: min(3.5vw, 30px);
}

.pick {
    background-color: rgb(115, 230, 115);
    width: 100%;
    height: 100%;
    font-size: min(2vw, 20px);
    color: white;
    display: block;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.pick:hover {
    background-color: rgb(80, 195, 80);
}

.pick:active {
    background-color: rgb(150, 180, 150);
}

.unpick {
    background-color: rgb(230, 115, 115);
    width: 100%;
    height: 100%;
    font-size: min(2vw, 20px);
    color: white;
    display: none;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.unpick:hover {
    background-color: rgb(195, 80, 80);
}

.unpick:active {
    background-color: rgb(180, 150, 150);
}

.roll2 {
    background-color: rgb(100, 125, 225);
    width: 100%;
    height: 100%;
    font-size: min(2vw, 20px);
    color: white;
    display: none;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.roll2:hover {
    background-color: rgb(75, 100, 200);
}

.roll2:active {
    background-color: rgb(150, 150, 180);
}

.center {
    position: absolute;
    background-color: rgb(0, 165, 165);
    width: 100%;
    height: 175%;
    font-size: min(2vw, 20px);
    color: white;
    display: block;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    cursor: pointer;
}

.center:hover {
    background-color: rgb(0, 190, 190);
}

.center:active {
    background-color: rgb(130, 150, 150);
}

#leader {
    background-color: rgb(0, 165, 165);
    color: white;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    cursor: pointer;
}

#leader:hover {
    background-color: rgb(0, 190, 190);
}

.menu2 {
    position: fixed;
    z-index: 99 !important;
    right: 10px;
    top: 60px;
    width: min(12.5vw, 165px);
    height: min(3.5vw, 30px);
}

button.menu2 {
    cursor: pointer;
}

.text:not(.home) {
    background-color: rgb(200, 200, 200);
    height: auto;
    font-size: min(1.5vw, 20px);
    color: black;
    display: block;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu3 {
    position: fixed;
    z-index: 99 !important;
    bottom: min(3.5vw, 30px);
    left: 10px;
    width: min(15vw, 200px);
    height: 2vw;
}

#chunkInfo2 {
    border-width: 0px 1px 1px 1px;
}

.menu5 {
    position: fixed;
    z-index: 99 !important;
    bottom: 20px;
    width: 100%;
}

.menu6 {
    position: fixed;
    z-index: 99 !important;
    left: 0px;
    top: 60px;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.menu7 {
    display: none;
    position: fixed;
    z-index: 99 !important;
    bottom: min(11vw, 130px);
    width: min(14vw, 175px);
    height: 2vw;
    right: 10px;
}

#recentChunksTitle {
    background-color: rgb(100, 100, 100);
    color: rgb(240, 240, 240);
}

#recentChunks1, #recentChunks2, #recentChunks3, #recentChunks4, #recentChunks5 {
    border-width: 0px 1px 1px 1px;
    cursor: default;
}

.menu8 {
    display: none;
    position: fixed;
    z-index: 99 !important;
    top: 25vh;
    left: 10px;
    width: min(25vw, 400px);
    height: 2vw;
}

.infostartup {
    font-size: min(1.5vw, 22px);
    margin-right: 15px;
}

.infoid, #infomonsters, #infonpcs, #infospawns, #infoshops, #infofeatures, #infoquests {
    display: none;
}

.infoid {
    font-size: 24px;
}

.infocontribute {
    border-top: solid 1px;
    font-size: min(1.25vw, 15px);
}

.gitgeddes {
    word-break: break-all;
}

.description {
    font-size: 1.25vw;
    width: 90%;
    margin: auto;
}

.url {
    margin-top: 25px;
    font-size: 2vw;
    border: solid;
    border-width: 1px;
}

#import2 {
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 4vw;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    line-height: .75vw;
}

.exit {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#import2:hover {
    background-color: rgb(75, 75, 225);
}

#import2:disabled {
    border: 2px solid rgb(150, 150, 150);
    background-color: rgb(225, 225, 225);
    color: black;
    cursor: not-allowed;
}

.username {
    margin-top: 25px;
    font-size: 2vw;
    border: solid;
    border-width: 1px;
}

#highscoreoptin {
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 4vw;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    line-height: .75vw;
}

#highscoreoptin:hover {
    background-color: rgb(75, 75, 225);
}

#highscoreoptin:disabled {
    border: 2px solid rgb(150, 150, 150);
    background-color: rgb(225, 225, 225);
    color: black;
    cursor: not-allowed;
}

#populateButton {
    text-decoration: none;
}

#highscoreoptin2 {
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 4vw;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    line-height: .75vw;
}

#highscoreoptin2:hover {
    background-color: rgb(75, 75, 225);
}

.import {
    background-color: rgb(200, 125, 200);
    width: min(17vw, 150px);
    height: 100%;
    font-size: min(2vw, 16px);
    color: white;
    display: block;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: auto;
    pointer-events: auto;
}

.import:hover {
    background-color: rgb(175, 100, 175);
}

.import:active {
    background-color: rgb(150, 125, 150);
}

.icon {
    width: 50px;
    margin: 0px auto;
    pointer-events: none;
}

.lock-closed {
    cursor: pointer;
    pointer-events: auto;
}

.lock-box {
    display: none;
    float: left;
    text-align: center;
    width: 100%;
}

.inner-lock {
    width: min(8%, 100px);
    margin: auto;
}

.lock-pin {
    width: 85%;
    font-size: min(2.5vw, 16px);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.animated {
    animation-duration: .5s;
    animation-fill-mode: both;
}

.wrong {
    border: 2px solid red;
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
    animation-name: shake;
}

#lock-unlock {
    outline: none;
    width: 100%;
    font-size: min(2vw, 18px);
    z-index: 9999 !important;
    cursor: pointer;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    transition-duration: .5s;
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
}

#lock-unlock:hover {
    background-color: rgb(75, 75, 225);
}

#lock-unlock:disabled {
    border: 2px solid rgb(150, 150, 150);
    background-color: rgb(225, 225, 225);
    color: black;
    cursor: not-allowed;
}

.toggle {
    width: 100%;
    height: 100%;
    font-size: min(2vw, 18px);
    color: white;
    display: block;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.toggle.on {
    background-color: rgb(75, 200, 75);
}

.toggle.off {
    background-color: rgb(200, 75, 75);
}

.toggle.on:hover {
    background-color: rgb(50, 175, 50);
}

.toggle.off:hover {
    background-color: rgb(175, 50, 50);
}

.toggle.on:active {
    background-color: rgb(120, 180, 120);
}

.toggle.off:active {
    background-color: rgb(180, 120, 120);
}

#toggleNeighbors, #toggleRemove {
    margin-bottom: 25px;
}

.label {
    pointer-events: none;
    color: white;
    margin: auto;
    width: 100%;
    text-align: center;
}

.box:not(.quality) > .label {
    transform: translateY(-5%);
}

.box.quality > .label {
    transform: translateY(-20%);
}

.box:not(.quality) > .chunkId {
    display: none;
    height: 0;
}

.ui-loader-header {
    display: none;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 1);
}

.loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 50px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.content, .content2a, .content2b, .content3a {
    border: solid;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 4%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 150);
    background-color: white;
}

.content8 {
    border: solid;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 4%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 150);
    background-color: white;
}

.content9 {
    border: solid;
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 4%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 150);
    background-color: white;
}

.title {
    font-size: 3vw;
    border-bottom: solid;
    background-color: rgb(230, 230, 230);
    padding-top: 10px;
    padding-bottom: 10px;
}

.block {
    margin-bottom: 22px;
    width: 100%;
}

#page1extra > .block {
    margin-top: 22px;
}

.or {
    display: inline-block;
    font-size: 2.5vw;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
    margin-left: 20px;
}

.right {
    float: right;
    margin-right: 20px;
}

.hr {
    display: inline-block;
    width: 6vw;
    border-color: lightgray;
    margin-top: 1.5vw;
}

.button {
    outline: none;
    width: 75%;
    font-size: 2.25vw;
    cursor: pointer;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    transition-duration: .5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#unlock-entry {
    height: 4vw;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    line-height: .75vw;
}

#create, #unlock-entry {
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
}

#create:hover, #unlock-entry:hover {
    background-color: rgb(75, 75, 225);
}

#mid, #proceed {
    border: 2px solid rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
}

#mid:hover, #proceed:hover {
    background-color: rgb(240, 240, 240);
}

#create2 {
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
}

#create2:hover {
    background-color: rgb(75, 75, 225);
}

#create2:disabled, #unlock-entry:disabled {
    border: 2px solid rgb(150, 150, 150);
    background-color: rgb(225, 225, 225);
    color: black;
    cursor: not-allowed;
}

#access, #change-pin {
    border: 2px solid rgb(50, 50, 150);
    background-color: rgb(100, 100, 255);
    color: white;
    margin-bottom: 20px;
}

#access:hover, #change-pin:hover {
    background-color: rgb(75, 75, 225);
}

#access:disabled, #change-pin:disabled {
    border: 2px solid rgb(150, 150, 150);
    background-color: rgb(225, 225, 225);
    color: black;
    cursor: not-allowed;
}

#newmid {
    border: solid;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    font-size: 3vw;
    width: 33%;
    margin: auto;
    margin-bottom: 25px;
}

.entry-content {
    position: fixed;
    z-index: 9999 !important;
    border: solid;
    width: 30%;
    margin: auto;
    text-align: center;
    -ms-transform: translate(112.5%, 35%);
    transform: translate(112.5%, 35%);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 150);
    background-color: white;
}

.import-content {
    position: absolute;
    z-index: 9999 !important;
    border: solid;
    width: 30%;
    margin: auto;
    text-align: center;
    -ms-transform: translate(112.5%, 35%);
    transform: translate(112.5%, 35%);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 150);
    background-color: white;
}

.highscore-content {
    position: absolute;
    z-index: 9999 !important;
    border: solid;
    width: 30%;
    margin: auto;
    text-align: center;
    -ms-transform: translate(112.5%, 35%);
    transform: translate(112.5%, 35%);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 150);
    background-color: white;
}

.sticker-content {
    position: absolute;
    z-index: 9999 !important;
    border: solid;
    width: 30%;
    margin: auto;
    text-align: center;
    -ms-transform: translate(112.5%, 35%);
    transform: translate(112.5%, 35%);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 150);
    background-color: white;
}

.home.text {
    font-size: 2vw;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.p, .a {
    font-size: 1.25vw
}

.home.text2 {
    font-size: 2vw;
    font-weight: bold;
}

.desc {
    width: 90%;
    margin: auto;
}

.warning {
    font-size: 1.5vw;
}

.pin.new {
    width: 40%;
    font-size: 2.5vw;
    text-align: center;
    margin-bottom: 30px;
}

.back {
    transition-duration: .5s;
    cursor: pointer;
}

.back:hover {
    background-color: rgb(75, 75, 225);
    color: white;
    border-color: black;
}

.pin.entry {
    width: 40%;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.mid, .pin.old, .mid-old, .pin.old2 {
    width: 40%;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 5px;
}

.mid-err, .pin-err, .url-err {
    color: red;
    visibility: hidden;
    margin-bottom: 10px;
}

.pin.old2.second {
    margin-bottom: 35px;
}

.link-outer {
    width: 90%;
    margin: auto;
    border: solid;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    padding: 5px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spin {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.imgDiv {
	position: absolute;
	overflow: hidden;
    width: 4128px;
}

.btnDiv {
	position: absolute;
	top: 0;
	left: 0;

	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(43, 2.3256% [col-start]);
	grid-template-rows: repeat(25, 4% [row-start]);

	overflow: hidden;
	width: 100%;
    height: 100%;
}

.map {
	float: left;
    width: 100%;
}

.escape-hint {
    display: none;
    position: absolute;
    top: 5vw;
    font-size: 52px;
    z-index: 999 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    text-align: center;
    pointer-events: none;
}

.settings {
    display: none;
    position: absolute;
    top: .15vw;
    right: .5vw;
    z-index: 999 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition-duration: .5s;
}

.settings:hover {
    color: rgb(100, 100, 255) !important;
}

.settings.whirl {
    -webkit-animation: spinner 300ms linear;
    -moz-animation: spinner 300ms linear;
    -ms-animation: spinner 300ms linear;
    -o-animation: spinner 300ms linear;
    animation: spinner 300ms linear;
}

.settings.smallspin {
    -webkit-animation: spinner2 300ms linear;
    -moz-animation: spinner2 300ms linear;
    -ms-animation: spinner2 300ms linear;
    -o-animation: spinner2 300ms linear;
    animation: spinner2 300ms linear;
}

.settings-menu {
    z-index: 999 !important;
    display: none;
    width: min(19vw, 225px);
    font-size: min(1.5vw, 16px);
    background-color: rgb(230, 230, 230);
    position: absolute;
    right: .5vw;
    top: 51px;
    border: solid black 1px;
}

.item {
    cursor: pointer;
    background-color: rgb(200, 200, 100);
    margin: 4px 4px 4px 4px;
    height: min(2vw, 25px);
    line-height: min(2vw, 25px);
    padding-left: 2px;
}

.item:hover {
    background-color: rgb(200, 200, 200);
}

.pic {
    float: right;
    margin-top: .25vw;
    margin-right: .25vw;
}

.item-on {
    background-color: rgb(125, 230, 125);
}

.item-off {
    background-color: rgb(230, 125, 125);
}

.topnav {
    z-index: 999 !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border: solid;
    border-width: 0 0 2px 0;
    background-color: rgb(235, 235, 235);
}

@-webkit-keyframes spinner2 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
    }
}
@-moz-keyframes spinner2 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
    }
}
@-o-keyframes spinner2 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
    }
}
@keyframes spinner2 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
    }
}

.gohome {
    position: absolute;
    transition-duration: .5s;
    cursor: pointer;
    top: .15vw;
    left: 5px;
}

.gohome:hover {
    color: rgb(100, 100, 255);
}

.gohighscore {
    position: absolute;
    transition-duration: .5s;
    cursor: pointer;
    top: .15vw;
    left: 65px;
}

.gohighscore:hover {
    color: rgb(100, 100, 255);
}

.toptitle {
    font-size: 40px;
    top: .15vw;
    width: 100%;
    margin-left: 4vw;
    text-align: left;
    position: absolute;
    pointer-events: none;
}

.toptitle2 {
    font-size: 40px;
    top: .15vw;
    width: 100%;
    text-align: center;
    position: absolute;
    pointer-events: none;
    font-weight: bolder;
}

.chunkId {
    pointer-events: none;
}

.none {
    text-decoration: none;
}

.chunk {
    cursor: pointer;
    color: blue;
}

.chunk:hover {
    text-decoration: underline;
}

.none > .chunk {
    cursor: default;
    color: black;
}

.none > .chunk:hover {
    text-decoration: none;
}

.rank-rows {
    font-size: 2.5vw; 
    width: 100%;
}

.blank {
    cursor: default;
    background-color: rgb(200, 200, 200);
}

.panel:not(.visible) {
    max-height: 0;
    overflow: hidden;
}

.panel.visible {
    max-height: 500px;
    font-size: min(1.5vw, 18px);
    text-align: left;
    padding-left: 10px;
}

.exp {
    display: inline-block;
    min-width: 20px;
    padding-right: 10px;
}

.accordion {
    border-top: solid 1px;
    padding: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 24px;
    transition: 0.4s;
    text-align: left;
    padding-left: 25px;
}

.accordion:hover {
    background-color: rgb(150, 150, 150);
}

.panel-close {
    cursor: pointer;
    margin-top: 0px;
    position: absolute;
    top: 0;
    right: 0;
}

.bold {
    font-weight: bolder;
}